{
  "$schema": "https://json.schemastore.org/stylelintrc.json",
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-vue"],
  "rules": {
    "no-descending-specificity": null,
    "selector-class-pattern": "^[a-z][a-z0-9\\-]*[a-z0-9]$"
  }
}
