.coc-content {
  padding: var(--space) max(var(--space), env(safe-area-inset-right)) var(--space) max(var(--space), env(safe-area-inset-left));
}

.coc-title,
.coc-description-container > p,
.coc-description-container > ul > li {
  margin: var(--space) 3rem 0 2rem;
  line-height: normal;
}

.coc-content ul {
  margin: var(--space) 0 0 0;
}
