.join-title {
  margin-left: 1rem;
  margin-top: 3rem;
  font-size: 2.2rem;
}

.join-content-outer-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.join-content-inner-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.join-content-container-one {
  max-width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.join-content-container-two {
  max-width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.join-upcoming-events {
  margin-top: 1rem;
}

.join p {
  margin-top: 0.5rem;
  font-weight: 300;
}

.join a {
  color: var(--color-blue);
}

.join a:hover {
  color: var(--color-osaka);
}

.join button,
.join .button {
  padding: 1rem 2rem;
  border-radius: 15px;
  margin-top: 0.5rem;
  color: var(--color-white);
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.join h2 {
  font-weight: 300;
  color: gray;
}

.join .mt-1 {
  margin-top: 1rem;
}

.join .mt-2 {
  margin-top: 2rem;
}

.join .mr-1 {
  margin-right: 1rem;
}

.join .mr-05 {
  margin-right: 0.5rem;
}

.join svg {
  width: 20px;
  height: 20px;
  fill: gray;
}

.join .svg-type-2 {
  width: 15px;
  height: 15px;
  fill: var(--color-blue);
  margin-right: 0.5rem;
}

.join a:hover .svg-type-2 {
  fill: var(--color-osaka);
}

.join .button-container {
  display: flex;
  flex-direction: column;
}

.join .follow-us-button {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  color: var(--color-blue);
  font-weight: 600;
  border: 1px solid var(--color-blue);
  width: fit-content;
}

.join .follow-us-button:hover {
  color: var(--color-osaka);
  border-color: var(--color-osaka);
}

.join .discord-widget {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: block;
}

@media only screen and (width <=420px) {
  .join-content-inner-container {
    flex-direction: column;
  }

  .join-content-container-one {
    max-width: 100%;
  }

  .join-content-container-two {
    max-width: 100%;
  }

  .join .section-header {
    margin-top: 2rem;
  }
}

@media screen and (orientation: landscape) and (width <=896px) {
  .join-title {
    margin-left: env(safe-area-inset-left, 2rem);
  }

  .join-content-inner-container {
    margin-left: env(safe-area-inset-left, 2rem);
    margin-right: env(safe-area-inset-right, 2rem);
  }
}
