{{ define "main" }}

<main role="main" class="my-5">
  <header class="container-xl mt-5">
    <div class="row">
      <div class="col-11 mx-auto text-center mt-2">
        <h1 class="display-2 font-weight-bold text-dark py-0 mt-4">
          {{- .Title -}}
        </h1>
        <h2 class="mt-2 mx-auto text-dark">
          Page can not be found
        </h2>
      </div>
    </div>
  </header>

  <div class="container-xl text-center mb-5 pb-5">
    <p>The page you are looking for has moved or has not been constructed yet.</p>
    <p>Return to the <a href="/"> home page</a>, and let's try again.</p>
  </div>
</main>

<div class="d-none">
  <div
    class="d-none arrow bs-tooltip-auto bs-popover-bottom bs-tooltip-top popover popover-arrow popover-body popover-header tooltip tooltip-arrow tooltip-inner visually-hidden">

  </div>
</div>

{{- end -}}
