{{ define "main" }}

<main class="d-flex align-items-center m-auto">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <div id="mc_embed_signup" class="py-5 m-auto">
              <form action="https://owddm.us20.list-manage.com/subscribe/post?u=fd5b95c1c9ada286ba23d4327&amp;id=76b953313f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <label for="mce-EMAIL">Subscribe</label>
                  <input type="email" class="form-control mb-3" autocomplete="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px" aria-hidden="true">
                    <input class="btn" type="text" name="b_fd5b95c1c9ada286ba23d4327_76b953313f" tabindex="-1" value="" />
                  </div>
                  <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary mt-3" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{- end -}}
