<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- redirects to new URL and keeps the hash in place -->
  <script>
    var anchor = window.location.hash.substr(1)
    location.href = '{{ .Page.Params.redirect | relURL }}' +
      (anchor ? '#' + anchor : '');
  </script>
  <!-- fallback redirect is JavaScript is not available-->
  <meta http-equiv="refresh" content="0; url={{ .Page.Params.redirect | relURL }}">
  <title>{{ .Title }}</title>
</head>

</html>
