{{ define "main" }}

<header class="container-fluid px-0 border-bottom">
  <div class="container-xl py-md-4">
    <div class="row py-lg-4">
      <div class="col-12 py-5 text-center">
        <h1 class="display-1 font-weight-bold">
          {{- .Title | title -}}
        </h1>
        <h2 class="h1 mt-4">
          {{- .Description -}}
        </h2>
      </div>
    </div>
  </div>
</header>

<main class="my-5 container-xl">

  <div class="row">
    <div class="col-12 col-sm-2">
      {{- partial "menu-left.html" . }}
    </div>
    <div class="col-12 col-sm-10 col-md-8">

      <article>
        {{- .Content -}}
      </article>
    </div>

</main>

{{- end -}}
