/* iPhone 8 Plus */
@media (max-width: 415px) {
  .navbar-nav li a {
    font-size: 0.84rem;
  }
}

/* iPhone 6/7/8 */
@media (max-width: 375px) {
  .navbar-nav li a {
    font-size: 0.77rem;
  }
}

/* iPhone 5 */
@media (max-width: 320px) {
  .navbar-nav li a {
    font-size: 0.74rem;
    letter-spacing: -1px;
  }

  .footer a {
    padding: 6px !important;
  }
}
