@import "bootstrap";
@import "ie11";
@import "mobile";
@import "mailchimp-sign-up-slim";
/* stylelint-disable color-function-notation */

body {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #A0CEE8;
  background-image: url("/img/umeda.webp");
}

body,
header {
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

header h1,
header h2 {
  transform: rotate(4deg);
  text-shadow: 1px -2px 22px rgba(0, 0, 0, 90%);
}
