body {
  font-family: roboto, Arial, Helvetica, sans-serif !important;
}

.avatar {
  width: 100px;
  height: 113px;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 0.2s;
}

.avatar:hover {
  transform: rotate(4deg);
  right: -1px;
}

.jumbotron-home {
  background-image: url(../assets/images/header-owddm.jpg);
  background-size: cover;
  background-position: center;
  min-height: 590px;
}

footer a {
  text-decoration: none !important;
  opacity: 0.7;
}

a:hover,
a:active,
a:focus {
  opacity: 1 !important;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: #fff;
  text-decoration: none !important;
}

.opacity-50 {
  opacity: 0.5;
}
