---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <div class="error-container">
        <h2>Error: 404</h2>
        <h4>Not Found</h4>
        <p>Sorry seems like that page is not available</p>
        <br />
        <div>
        <a href="/"><button>Return to Home</button></a>
        </div>
    </div>
</Layout>
<style scoped>
    .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .footer {
      margin-top: auto;
      padding-bottom: 1rem;
    }
    
    .error-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 1rem;
    }
    </style>
