.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-small);
  margin: 0 var(--space);
}

.gallery-container .img-container-margin {
  max-width: 100%;
  overflow: auto;
  position: relative;
  border-radius: var(--radius);
}

.gallery-container .gallery-container a {
  line-height: 0;
}

.gallery-container .img-container {
  border-radius: var(--radius);
  width: 100%;
}

.gallery-container .img-container:hover {
  box-shadow: 0 0 150px 5px #aab6bd;
}

.gallery-container .content,
.gallery-container .date {
  display: block;
  margin: 1em;
}

.gallery-container .date {
  font-weight: normal;
  color: #acacac;
  margin-bottom: 0;
}

.gallery-container .content {
  margin-top: 0;
}
