.site-header .nav-link {
  --link-font: var(--heading-font);

  text-transform: upper-case;
}

.site-header {
  position: relative;
}

.site-header .header--container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  padding-top: var(--space);
  padding-bottom: var(--space);
  background-color: var(--color-bg-front);
}

.site-header .header--container header > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-header .header--links {
  flex-direction: row;
  margin: 0 2rem;
  user-select: none;
}

.site-header .header--links a {
  text-decoration: none;
}

.site-header .header--links a:hover {
  border-bottom: 2px solid;
  border-color: var(--color-gray);
}

.site-header .header--links ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.site-header .header--logo {
  padding-left: var(--space);
}

.site-header .active-menu {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, var(--color-osaka), var(--color-kyoto));
  border-image-slice: 1;
}

@supports (border-image: linear-gradient(in oklch, red, blue)) {
  .site-header .active-menu {
    border-image: linear-gradient(in oklch 0.25turn, var(--color-osaka), var(--color-kyoto));
    border-image-slice: 1;
  }
}

.site-header .header--join-link {
  margin: 0 var(--space);
  flex-grow: 1;
}

.site-header .join-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  --join-bg: var(--button-bg, var(--color-blue));
  --join-color: var(--button-color, var(--color-white));
  --join-width: var(--button-width, 100px);
  --join-fw: var(--button-fw, 400);
  --join-fs: var(--button-fs, var(--fd-5));

  background: var(--join-bg);
  color: var(--join-color);
  font-family: inherit;
  font-size: var(--join-fs);
  font-weight: var(--join-fw);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  max-width: var(--join-width);
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.site-header .join-link:hover {
  background-color: var(--color-osaka);
}

/* Mobile */

.site-header .active-mobile-menu {
  border-image: linear-gradient(0.5turn, var(--color-osaka), var(--color-kyoto));
  border-image: linear-gradient(in oklch 0.5turn, var(--color-osaka), var(--color-kyoto));
  border-image-slice: 1;
  width: 100%;
  box-sizing: content-box;
}

.site-header .hamburger-menu {
  display: none;
  min-width: 60px;
  width: 60px;
  margin-top: 0.3rem;
  margin-right: 0.2rem;
  background-color: transparent;
}

.site-header .hamburger-menu svg {
  height: 1.8rem;

  /* margin: 0.5rem calc(var(--space) + 0.5rem); */
}

.site-header .header--social-media {
  margin-right: var(--space);
}

/* For iPhone SE */
@media only screen and (width <=24em) {
  .site-header .join-link {
    height: 0.5rem;
    margin-bottom: -0.1rem;
    padding-bottom: 1.1rem;
  }

  .site-header .hamburger-menu {
    display: inline-flex;
    align-self: end;
    min-width: 50px;
    width: 50px;
  }

  .site-header .hamburger-menu svg {
    height: 2rem;
  }
}

@media only screen and (width <=50em) {
  .site-header {
    height: 4.2rem;
  }

  .site-header .hamburger-menu {
    display: inline-flex;
    align-self: end;
  }

  .site-header .header--container {
    width: 100vw;
    position: fixed;
    z-index: 9999;
    flex-wrap: wrap;
    overflow: auto;
    background: rgba(255 255 255 / 85%);
    backdrop-filter: blur(10px);
  }

  .site-header.open .header--container {
    height: 100%;
  }

  .site-header.closed .header--links,
  .site-header.closed .header--social-media {
    display: none;
  }

  .site-header .header--social-media {
    order: 5;
    flex-grow: 1;
    max-width: 100vw;
    margin-left: 2rem;
    margin-top: 1.5rem;
    gap: 0.4rem;
  }

  .site-header .header--links {
    order: 4;
    font-size: 2rem;
    height: auto;
    width: 100vw;
    margin: 0;
  }

  .site-header .header--links a:hover {
    border-bottom: none;
  }

  .site-header .header--links > ul {
    list-style-type: none;
    flex-grow: 1;
    flex-direction: column;
    gap: 0;
  }

  .site-header .header--links > ul > li {
    padding-top: 1rem;
  }

  .site-header .header--links > ul > li > a {
    padding-left: 1.5rem;
    border-left: 0.5rem solid transparent;
    border-bottom: 0;
    display: block;
  }

  .site-header .header--links > ul > li > a.active-menu {
    border-image: linear-gradient(0.5turn, var(--color-osaka), var(--color-kyoto));
    border-image-slice: 1;
  }

  .site-header .header--links a {
    text-decoration: none;
  }
}

@media screen and (orientation: landscape) {
  .site-header .header--container {
    margin-left: env(safe-area-inset-left, 2rem);
    margin-right: env(safe-area-inset-right, 2rem);
  }
}
