<header class="container-fluid px-0 pt-md-0"
  style="background-color:{{ .Params.headerColor }}; background-image: url({{ .Params.Image | relURL }});">
  <div class="container-fluid px-0 {{ if .Params.headerFade }}header-fade{{- end -}}">
    {{- partial "navbar" . }}
    <div class="bg-angle-white mx-0 px-0 mt-5 pt-5">
      <div class="container">
        <div class="row pt-lg-3">
          <div class="col-12 text-left my-5 py-5">
            <h1 class="display-4 font-weight-bold text-white" hidden>
              {{ .Title | title }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
