<nav class="navbar navbar-expand">
  <div class="container-xl flex-column flex-md-row">
    <a class="navbar-brand me-auto" href="/">
      <img src="/img/logo.png" class="img-fluid text-center" width="240" height="70" alt="home">
    </a>
    <div>
      <ul class="navbar-nav" hidden>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item mx-0 mx-sm-1 mx-md-2">
          <a class="nav-link {{if ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
            {{- .Name -}}
          </a>
        </li>
        {{- end -}}
      </ul>
    </div>
  </div>
</nav>
