@font-face {
  /* Thin */
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/inter-100.ttf") format("truetype");
}

@font-face {
  /* Light */
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/inter-300.ttf") format("truetype");
}

@font-face {
  /* Regular */
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/inter-400.ttf") format("truetype");
}

@font-face {
  /* Semi Bold */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/inter-600.ttf") format("truetype");
}

@font-face {
  /* Bold */
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/inter-700.ttf") format("truetype");
}

:root {
  /* stylelint-disable declaration-block-no-duplicate-custom-properties */
  --color-osaka: #ed2225;
  --color-osaka: oklch(60.53% 0.232 27.25deg);
  --color-kyoto: #551a6b;
  --color-kyoto: oklch(35.19% 0.139 315.11deg);
  --color-white: #fff;
  --color-white: oklch(100% 0 0deg);
  --color-black: #000;
  --color-black: oklch(0% 0 0deg);
  --color-blue: #3859ff;
  --color-blue: oklch(55.18% 0.247 267.9312deg);
  --color-gray: #c7c7c7;
  --color-gray: oklch(82.97% 0 0deg);
  --color-gold: #86745b;
  --color-gold: oklch(56.9% 0.043 75.79deg);
  --color-text-gray: oklch(46.76% 0 0deg);
  --color-bg-back: #f1f0f0;
  --color-bg-back: oklch(95.59% 0.001 17.18deg);
  --color-bg-front: var(--color-white);
  /* stylelint-enable */
  --space: 0.75rem;
  --space-small: 0.5rem;
  --radius: 0.5rem;
  --border: 1px solid var(--color-gray);
  --title-underline: 3px solid var(--color-black);
  --fs-1: 2rem;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 14px;
  --fs-7: 13px;

  /* Cannot be used in media queries just here for documentation purposes */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xl-2: 1536px;
  --custom-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
  --heading-font: "Helvetica", sans-serif;
}

:where(button, .button) {
  background: var(--button-bg, var(--color-blue));
  color: var(--button-color, var(--color-white));
  font-family: inherit;
  font-size: var(--button-fs, var(--fd-5));
  font-weight: var(--button-fw, 400);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  min-width: var(--button-width, 100px);
  min-height: var(--button-height, 35px);
}

@media only screen and (width <=320px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: var(--body-font);
  line-height: 1.25;
  margin: 0 auto;
  background: var(--color-bg-back);
}

.banner-goodbye {
  font-size: 1.5em;
  height: 8em;
  text-align: center;
  border: 0.18em dashed #ed2225;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#outside {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: var(--fs-2);
  font-family: var(--heading-font);
  padding: 0 0 5px;
  margin: 0;
  border-bottom: var(--title-border, var(--title-underline));
}

.gallery-container div,
.explainer {
  border-radius: var(--radius);
}

.gallery-container h2,
.explainer {
  background: var(--color-bg-back);
  font-size: 1em;
}

.explainer {
  margin: 0 var(--space) var(--space-small) var(--space);
  padding: 0.5rem 1rem;
}

.explainer summary {
  display: flex;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  width: 100%;
  justify-content: space-between;
}

.explainer ul {
  padding-inline-start: 1rem;
}

.explainer li {
  margin-bottom: 0.5rem;
}

.explainer summary:hover {
  opacity: 1;
}

.explainer[open] summary {
  opacity: 1;
  margin-bottom: 0.5rem;
}

.explainer[open] summary::after {
  content: "×";
}

.explainer summary abbr {
  text-decoration: none;
}

.gallery-container h2 {
  display: inline-block;
  line-height: 1.2;
  height: 200px;
  max-width: 300px;
  margin: 0;
  padding: 0;

  --title-border: 0;
  --title-underline: 0;
}

p {
  margin: 0;
}

a {
  font-family: var(--link-font, var(--body-font));
  color: var(--link-color, var(--color-black));
}

a:hover {
  text-decoration-line: var(--td-line, underline);
  text-decoration-color: var(--td-line-color, currentcolor);
  text-decoration-thickness: var(--td-width, 2px);
  text-underline-offset: var(--td-offset, 4px);
}

h1 {
  padding: 0;
  margin: 0;
  line-height: 0;
  margin-left: -0.25rem;
}

h1 svg {
  height: auto;
  width: 12.8rem;
}

main {
  flex-grow: 1;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 70rem;
  width: 100%;
  background: var(--color-bg-front);
}

.custom-font-title {
  font-size: var(--fs-1);
  font-family: var(--custom-font);
  line-height: calc(40px / var(--fs-1));
  letter-spacing: 0.05em;
  margin: 0;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0);
  white-space: nowrap;
  border-width: 0;
}

.col-1 {
  max-width: 535px;
}

.col-2 {
  max-width: 606px;
}

.col-1 section {
  margin-top: 70px;
  padding-bottom: 70px;
}

.col-2 section:not(:first-of-type) {
  margin-top: 40px;
}

.banner {
  display: flex;
  align-items: center;
  font-size: var(--fs-2);
  font-family: var(--heading-font);
  font-weight: 300;
}

.banner:not(:first-of-type) {
  margin-top: 20px;
}

.banner-osaka .hexagon {
  --hex-bg: var(--color-osaka);
  --hex-width: 156px;
}

.banner-kyoto .hexagon {
  --hex-bg: var(--color-kyoto);
  --hex-width: 156px;
}

.info-list {
  margin-top: 40px;
}

.info-list li:not(:first-of-type) {
  margin-top: 35px;
}

.info-list-title {
  font-size: var(--fs-3);
  font-weight: 700;
  font-family: var(--heading-font);
}

.info-list p {
  margin: 12px 0 0;
}

.newsletter {
  margin-top: 20px;
}

@media (width >=425px) {
  .newsletter {
    display: grid;
    grid-template-columns: auto 104px;
    column-gap: 15px;
  }
}

.newsletter input[type="email"] {
  min-height: 35px;
  font-size: var(--fs-5);
  padding: 0 13px;
  border: var(--border);
}

.survey {
  margin-top: 20px;
}

.survey .button {
  --button-width: 235px;
  --button-height: 35px;
  --link-color: var(--color-white);

  font-weight: 400;
  height: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}

@media (width >=606px) {
  .survey {
    display: grid;
    grid-template-columns: 1fr 235px;
    column-gap: 13px;
  }
}

.event-list {
  margin-top: 34px;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--title-underline);
}

.event-header h2 {
  --title-border: 0;
  --title-underline: 0;
}

.event-header button {
  --button-bg: transparent;
  --button-color: var(--color-black);
  --button-fw: 700;
  --button-fs: var(--fs-4);
}

.event-header + p {
  margin-top: 20px;
}

.at {
  color: var(--color, currentcolor);
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.event-header button:first-of-type .at {
  --color: var(--color-osaka);
}

.event-header button:last-of-type .at {
  --color: var(--color-kyoto);
}

.event {
  display: grid;
  grid-template-columns: 171px auto;
  column-gap: 18px;
  padding-bottom: 28px;
  font-size: var(--fs-4);
  font-weight: 700;
  position: relative;
}

.event-image {
  width: 171px;
  position: relative;
}

.event-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 171 / 95;
  object-fit: cover;
}

.event-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 16px;
  background-color: var(--bg-color, transparent);
}

[data-meetup="osaka"] .event-image::before {
  --bg-color: var(--color-osaka);
}

[data-meetup="kyoto"] .event-image::before {
  --bg-color: var(--color-kyoto);
}

.event-time {
  display: block;
  color: var(--color-gold);
  font-size: var(--fs-6);
  font-weight: 700;
  margin-bottom: 10px;
}

.event-link {
  display: block;
  font-weight: 400;
  margin-top: 10px;
  font-size: var(--fs-7);
}

.event-link::after {
  content: "";
  position: absolute;
  inset: 0;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--color-text-gray);
  padding: var(--space);
  margin: var(--space) 0;
}

.inactive {
  opacity: 0.5;
}

/* Map Styles */

.marker.owddm .marker--hex {
  fill: var(--color-osaka);
}

.marker.kwddm .marker--hex {
  fill: var(--color-kyoto);
}

.map--container {
  width: 100%;
  position: relative;
}

.map-event--image {
  position: absolute;
  z-index: 1;
}

.map-event--label {
  position: absolute;
  left: 62px;
  top: 7px;
}

.map-event--title,
.map-event--info {
  padding: 3px 7px;
  border: 3px solid #fff;
  background: #fff;
  display: inline-block;
  line-height: 1em;
}

.map-event--title {
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  white-space: nowrap;
  font-weight: 700;
  padding-bottom: 0;
}

.map-event--info {
  border-radius: 0 0 5px 5px;
  font-size: 1.6rem;
  font-weight: 400;
}

.map-single-event--title,
.map-single-event--info,
.map-single-event--label {
  display: none;
}

.map--container,
.map--container a {
  font-size: 10px;
}

.map--map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-map {
  margin: 0 var(--space);
  border-radius: var(--radius);
  overflow: hidden;
}

/* Add to body to prevent scrolling when viewing the mobile menu */
.prevent-scrolling {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*
Single Event Page: Targets the p tags rendered by the markdown renderer and adds
additional spacing to the p tags for better readability.
*/
#outside > div > main > div > div.event-details-container > div.event-details-description > div > div > p {
  margin-top: 1rem;
}

#outside > div > main > div > div.event-image-date-container-mobile > div.event-description-container > div > p {
  margin-top: 1rem;
}

@media screen and (orientation: landscape) {
  main {
    margin-left: env(safe-area-inset-left, 2rem);
    margin-right: env(safe-area-inset-right, 2rem);
  }
}
